#circle {
	position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 90vh;
 width: 100vw;
 border-radius: 0 0 90vh 90vh;
	background-color: #d5d8ff;
   }
  
     h1, h2{
      display: grid;
      justify-content: center;
         align-content: center;
      position: relative;
      font-family: 'Open Sans', sans-serif;
     }
  
     h1{
         padding-top:8vh;
         font-size: 4vw;
     }
  
     h2{
      padding-top: 2vh;
      font-size: 2.5vw;
      text-align: center;
     }
  
     h3{
      display: grid;
      justify-content: center;
         align-content: center;
      position: relative;
      font-size: 1.3em;
      padding-top: 7rem;
      font-family: 'Open Sans', sans-serif;
     }
  
   a{
      font-size: 2vw;
      position: fixed;
      top: 90%;
      left: 40%;
   }
     a:link, a:visited {
      color: black;
      text-decoration: none;
    }

     a:hover{
         color:#00076e;
     }
  

     span{ 
        padding-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 4rem;
        place-items: center;
        position: relative;
     }

  #one{
      grid-column: 2;
      grid-row: 1;
  }
  #two{
     grid-column: 3;
     grid-row: 1;
  }
  #three{
     grid-column: 2;
     grid-row: 2;
  }
  #four{
     grid-row: 2;
     grid-column: 3;
  }

  @media screen and (max-width: 500px) {
	#circle {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 150vh;
    width: 100vw;
    border-radius: 0 100vw 100vw  0;
    background-color: #d5d8ff;
	}
   span{
      display:flex;
      flex-direction: column;
      row-gap: 4vh;
   }
}