html {
  box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
  box-sizing: inherit;
 }



#circle {
z-index: -1;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
height: 90vh;
width: 100vw;
border-radius: 0 0 90vh 90vh;
background-color: #c8ffbe;
}

#arrow {
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 40px solid darkgray;
position: fixed;
left: 50%;
bottom: 0px;
}

.container{
margin:auto;
width: 80vw;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;
justify-items: center;
column-gap: 5%;
}

.container p {
place-self: center;
grid-column: 1/2;
grid-row:1/2;
  padding: 10%;
  font-size: 2.5vw;
  width: 45vw;
  font-family: 'Montserrat', sans-serif;
}

.container .video{
grid-column: 2/3;
grid-row: 2/3;
place-self: center;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.container .video iframe{
  position: absolute;
  width: 40%;
  height: 40%;
}

.container h1{
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center;
  font-size: 12vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:5%;
  margin: 5%;
}

.container figure{
place-self: center;
grid-column: 1/2;
grid-row: 2/3;
}
.img{
width: 100%;
height: auto;
}


@media screen and (max-width: 500px) {
	#circle {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 80vw;
    border-radius: 0 80vw 80vw 0;
    z-index:-1;
    background-color: #c8ffbe;
	}
   h1{
     display:none;
   }

  .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 6%;
  }
  .container p{
    font-size: 4vmin;
    width: 100vw;
    color: black;
  }
  
  .container.video {
    width: 100%;
    height: 0;
    padding-bottom: 0;
  }
  .container .video iframe{
      width: 80%;
      height: auto;
  }
  
  .img{
    width: 100%;
    top: auto;
  }
}