#circle {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40rem;
	width: 80rem;
	border-radius: 0 0 40rem 40rem;
	background-color: #d5d8ff;
   }

   h1 {
    display: grid;
    justify-content: center;
       align-content: center;
    position: relative;
    padding-top: 4rem;
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
   }

   h3{
    display: grid;
    justify-content: center;
       align-content: center;
    position: relative;
    font-size: 1.3em;
    padding-top: 20rem;
    font-family: 'Open Sans', sans-serif;
   }

   a:hover{
       color:#d5d8ff;
   }
