#circle {
	position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 90vh;
 width: 100vw;
 border-radius: 0 0 90vh 90vh;
	background-color: #F7DB39;
   }

   h1 {
    display: grid;
    justify-content: center;
       align-content: center;
    position: relative;
    padding-top: 4vh;
    font-size: 10vw;
    font-family: 'Open Sans', sans-serif;
   }

   h3{
    display: grid;
    justify-content: center;
       align-content: center;
    position: relative;
    font-size: 1.3em;
    padding-top: 20rem;
    font-family: 'Open Sans', sans-serif;
   }

   a{
      position: fixed;
      top: 90%;
      left: 40%;
      font-size: 2vw;
   }
   a:hover{
       color:#d5d8ff;
   }
   @media screen and (max-width: 500px) {
      #circle {
         position: absolute;
         top: 50%;
         left: 20%;
         transform: translate(-50%, -50%);
         height: 100vh;
         width: 80vw;
         border-radius: 0 80vw 80vw 0;
         z-index:-1;
       background-color: #F7DB39;
      }
      h1{
         position: absolute;
         top: 50%;
      }
     
   }