/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

div{
    padding: 10rem;
}

button{
    border-radius: 50%;
    border: none;
    width: 200px;
    height: 200px;
    position: fixed;
    font-size: 2em;
    opacity: 0.9;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
  }

  h1{
    display: grid;
    justify-content: center;
    align-content: center;
    height: auto;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
  }
  
  a:link, a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: rgb(138, 0, 0);
  }

  button.a {
   background-color: #c8ffbe;
  }
  
  button.b {
   background-color: #cfd6ea;   
  }
  button.c {
   background-color:#22223b;
      
  }
  button.d {
   background-color:yellow;
  }

  button.e {
    background-color: #739176;    
   }
   
   button.f {
    background-color:#ffbcc1;   
   }
   button.g {
    background-color:#51355a;
       
   }
   button.h {
    background-color:#dffcff;
   }

   @media screen and (max-width: 500px) {
    button{
      border-radius: 50%;
      border: none;
      width: 100px;
      height: 100px;
      position: fixed;
      font-size: 1em;
      opacity: 0.9;
      font-weight: 700;
      font-family: 'Times New Roman', Times, serif;
    }

  h1{
    display: grid;
    justify-content: center;
    align-content: center;
    height: auto;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
  }
   }