#circle {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 30rem;
	width: 60rem;
	border-radius: 0 0 45rem 45rem;
	background-color: pink;
}

h1,
div {
	position: absolute;
}

h1 {
	left: 40%;
	font-size: 3rem;
}
h3 {
	font-size: 1.5rem;
	position: relative;
}
h3:first-of-type {
	top: 60px;
	left: 75%;
}
h3:nth-of-type(2) {
	top: 220px;
	left: 120%;
}
h3:nth-of-type(3) {
	top: 340px;
	left: 220%;
}
h3:nth-of-type(4) {
	top: 95px;
	left: 400%;
}
h3:last-of-type {
	bottom: 160px;
	left: 410%;
}
